* CONFIGURATION3.0
#DATE: latest file modification
*date Sun Apr 12 17:32:34 2009
#
#ROOT_NAME, USED IN FUTURE NAMING OF FILES (e.g. CTL, CNN)
*root 72_Oceanic_HS_ASHP_HRV
#
#PATHS_DEFINE
*zonpth ./ # path to zones
*netpth ./ # path to networks
*ctlpth ./ # path to controls
*radpth ./ # path to radiance files
*imgpth ./ # path to project images
*tmppth ./ # path to project scratch folder
*docpth ./ # path to project documents
*dbspth ./ # path to local databases
#END_PATHS_DEFINE
#
#INDEX
*indx 1 # Building only
#
#LAT_LONG: Latitude & Longitude IN DEGREES (diff from meridian)
44.88 0.0
# CSDDRD is HALIFAX, NS, lat 44.7, long -63.6, HDD @ 18 C = 4030.8
# CWEC is HALIFAX, NS, lat 44.7, long -63.6, HDD @ 18 C = 4030.8
#PROVINCE NOVA SCOTIA
#
#SITE_RHO: Site exposure & ground reflectivity
1 0.2
#
* DATABASES
#CLIMATE_DATABASE - relative to cfg file location
*clm ../../../climate/clm-bin_Canada/can_halifax.cwec
*prm ../../../databases/mat_db_xml_1.1.a
*mlc ../../../databases/con_db_xml.a
*opt ../../../databases/optic_db_xml.a
*prs ../../../databases/pressure_db
*evn ../../../databases/profiles_db
*pdb ../../../databases/plant_db
#
#GROUND_RHO_MONTHLY UNTESTED (first int is model type, next 12 ints are ground refl., last is snow refl.)
#*gref 1 0.2 0.2 0.2 0.2 0.2 0.2 0.2 0.2 0.2 0.2 0.2 0.2 1
#SNOW_DAYS UNTESTED (number of snow days per month)
#*snow 31 28 25 10 0 0 0 0 0 0 5 15
#
#AIM
*aim ./72_Oceanic_HS_ASHP_HRV.aim
#CTL
*ctl ./72_Oceanic_HS_ASHP_HRV.ctl
#MVNT
*mvnt ./72_Oceanic_HS_ASHP_HRV.mvnt
#DHW
*dhw ./72_Oceanic_HS_ASHP_HRV.dhw
#HVAC
*hvac ./72_Oceanic_HS_ASHP_HRV.hvac
#PNT
*pnt ./72_Oceanic_HS_ASHP_HRV.elec
#BCD
*bcd ../../../bcd/DHW_200_Lpd.AL_Stove-med_Dryer-med_Other-med_W.60_min_avg_from_5_min_src.bcd
#
#CALENDAR_YEAR
*year  2000 # CWEC year which is arbitrary
*slr_half_hr 1 # solar timing hour centred USE FOR CWEC WEATHER
#
# save levels for below are: 0=summary; 1=temp & plant demand; 2=1+surface temp; 3=2+surface layer temps; 4=3+surface energy balance; 5=XML reporting; 6=summary csv
#SIM_PRESET_LINE1: number of data sets retained; startup days; zone_time-step (steps/hr); plant_time-step (steps/zone_time-step); save_lvl @ each zone_ts; save_lvl @ each plant_ts;
*sps 1 4 1 1 5 0
#
#SIM_PRESET_LINE2: start day; start month; end day; end month; simulation preset name
1 1 31 12 sim_presets
#
#SIM_PRESET_LINE3: buidling results file name relative to bps run folder location
*sblr 72_Oceanic_HS_ASHP_HRV.res
#SIM_PRESET_LINE4: electrical results file name relative to bps run folder location
*selr 72_Oceanic_HS_ASHP_HRV.elr
#SIM_PRESET_LINE5: mass flow results file name relative to bps run folder location
*sflr 72_Oceanic_HS_ASHP_HRV.mfr
*end_set
*end_sps
#
#PROJ_LOG
* PROJ LOG
72_Oceanic_HS_ASHP_HRV.log
#BLD_NAME
* Building
72_Oceanic_HS_ASHP_HRV
#
#ZONE_COUNT: no of zones
3
# ZONE INFO - relative to cfg file location
# *zon 1 # reference for zone files 
# *geo ./template.geo # geometry
# *con ./template.con # construction
# *opr ./template.opr # schedules
# *bsm ./template.bsm # basesimp
# *tmc ./template.tmc # transparent constructions
# *zend
#ZONES
*zon 1
*con ./72_Oceanic_HS_ASHP_HRV.main_1.con
*geo ./72_Oceanic_HS_ASHP_HRV.main_1.geo
*opr ./72_Oceanic_HS_ASHP_HRV.main_1.opr
*tmc ./72_Oceanic_HS_ASHP_HRV.main_1.tmc
*isi ./72_Oceanic_HS_ASHP_HRV.main_1.shd
*zend
*zon 2
*bsm ./72_Oceanic_HS_ASHP_HRV.bsmt.bsm
*con ./72_Oceanic_HS_ASHP_HRV.bsmt.con
*geo ./72_Oceanic_HS_ASHP_HRV.bsmt.geo
*opr ./72_Oceanic_HS_ASHP_HRV.bsmt.opr
*tmc ./72_Oceanic_HS_ASHP_HRV.bsmt.tmc
*isi ./72_Oceanic_HS_ASHP_HRV.bsmt.shd
*zend
*zon 3
*con ./72_Oceanic_HS_ASHP_HRV.attic.con
*geo ./72_Oceanic_HS_ASHP_HRV.attic.geo
*opr ./72_Oceanic_HS_ASHP_HRV.attic.opr
*zend
#END_ZONES
#
#CNN
*cnn ./72_Oceanic_HS_ASHP_HRV.cnn
#
#AIR_FLOW_NETWORK
1 # AFN exists
./72_Oceanic_HS_ASHP_HRV.afn 
main_1 bsmt attic # Name of corresponding AFN node in zone order listed above
